{% extends 'base.html' %}
{% load crispy_forms_tags %}

    {% block content %}

    <form method="get">
        {{ filter.form|crispy }}

        <button type="submit">Search</button>

    </form>
<br>
<br>

    <ul class="list-group">
        {% for wine in filter.qs %}

            <li class="list-group-item active">
                <b>Country: </b> {{ wine.country }}
            </li>
            <li class="list-group-item">
                <b>Price: </b> {{ wine.price }}
            </li>
        <li class="list-group-item">
                 <b>Description: </b> {{ wine.description }}
            </li>
        <li class="list-group-item">
                 <b>Designation: </b> {{ wine.designation }}
            </li>
        <li class="list-group-item">
                <b>Province: </b> {{ wine.province  }}
            </li>
        <li class="list-group-item">
                  <b>Province: </b> {{ wine.province  }}
            </li>
        <li class="list-group-item">
                 <b>Region_1: </b> {{ wine.region_1 }}
            </li>
        <li class="list-group-item">
               <b>Region_2: </b>{{ wine.region_2 }}
            </li>
        <li class="list-group-item">
                <b>Variety: </b> {{ wine.variety }}
            </li>
        <li class="list-group-item">
                <b>Winery: </b> {{ wine.winery }}
            </li>


        {% endfor %}

    </ul>
    {% endblock %}
